Repository runtimeverification/k, pull requests merged in 2024-12, with the labels that each got.

#4701 Add method `to_axiom` to class `Rule`
  pyk/src/pyk/kore/rule.py
  pyk/src/tests/integration/kore/test_rule.py
Labels: automerge

#4704 Fixes and improvements in `module_to_kore`
  pyk/src/pyk/kast/att.py
  pyk/src/pyk/konvert/_module_to_kore.py
  pyk/src/tests/integration/konvert/test_module_to_kore.py
  pyk/src/tests/integration/test-data/module-to-kore/impure.k
  pyk/src/tests/integration/test-data/module-to-kore/syntax-sort.k
Labels: pyk

#4708 Optimize `pyk.kast.inner.collect`
  pyk/src/pyk/kast/inner.py
Labels: automerge, pyk

#4710 KCFG optimisation-on-creation
  pyk/src/pyk/kcfg/kcfg.py
  pyk/src/pyk/proof/reachability.py
  pyk/src/tests/integration/proof/test_imp.py
Labels: enhancement

#4712 Add class `KoreDefn`
  pyk/src/pyk/kore/internal.py
  pyk/src/pyk/kore/manip.py
  pyk/src/pyk/kore/syntax.py
Labels: automerge, pyk
